.partners-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 50px;
            margin-top: 50px;
        }

        .partner-logo {
            max-width: 200px;
            height: auto;
            filter: grayscale(100%);
            transition: filter 0.3s ease;
        }

        .partner-logo:hover {
            filter: grayscale(0%);
        }