.products-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 30px;
            margin-top: 50px;
        }

        .product-card {
            background-color: #f9f9f9;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
            transition: transform 0.3s ease;
        }

        .product-card:hover {
            transform: translateY(-10px);
        }

        .product-icon {
            font-size: 2.5rem;
            color: #d70000;
            margin-bottom: 20px;
        }

        .product-content {
            padding: 30px;
            text-align: center;
            display: flex;
            flex-direction: column;
            min-height: 100%;
        }

        .learn-more-btn {
            margin-top: auto;
        }

        .product-title {
            font-size: 1.5rem;
            color: #333;
            margin-bottom: 15px;
            font-weight: 600;
        }

        .product-desc {
            color: #555;
            margin-bottom: 20px;
        }

        #products{
            background-color: rgb(240, 245, 247);
            padding-top: 10px;
        }

        